:root {
    --primary-color-red : #F01616;
    --secondary-color-purple : #8B566A;
    --accent1-color-bluepurple : #587694;
    --accent2-color-bluegreen : #2596BE;
    }
    * {
    text-decoration : none;
    margin : 0 auto;
    padding : 0;
    
    }
    .gitem1 {
    border : black solid 1px;
    }
    .nav {
        margin-left: 300px;
    color : black;
    display : flex;
    justify-content : space-around;
    align-items : center;
    width : 300px;
    background-color : white;
    border : black solid 0.5px;
    }

    .gitem2 {
    border-left: none;
    }
    a{
    color : black;
    padding : 4px;
    border-left : 0.5px solid black;
    padding-left: 10px;
    }
    header {
    display : grid;
    grid-template-columns : 500px 400px 300px;
    grid-template-rows : 180px;
    justify-content : center;
    align-items : center;
    background-color : #e71d1d;
    width : 1200px;
    margin-right: .1%;
    }
    body {
    background-color : white;
    display : block;
    text-decoration : none;
    max-width : 70rem;
    }
    .hero {
        position : absolute;
        top : 200px;
        display : block;
        width : 100%;
    }
    article img {
        float: right;
        padding: 15px;
        }
    .purpose_and_img{
        padding: 15px;
        height: 8em;
        width: 68.5em;
        background-color : #68686880;
        position : absolute;
        top : 5rem;
        left: 2.3rem;
        }
    .history_grid{
        display: grid;
        grid-template: 20%/35% 30% 35%;
        background-color: rgb(161, 161, 168);
        margin-top: 330px;
        min-width: 73.15em;
        padding: 15px;
    }
    .history_grid_title{
        grid-column: 2;
        justify-self: center;
        align-self: center;
    }
    
    .history_grid_item1{
        grid-row: 2;
        grid-column: -3;
        justify-self: center;
        align-self: center;
    }
    .history_grid_item2{
        grid-row: 2;
        grid-column: 3;
    }
    .history_grid_item3{
        grid-row: 2;
        grid-column: 1;
    }
    .adventure_grid{
        display: grid;
        grid-template: 30% 70%/20% 20% 20% 20% 20%;
        width: 75rem;
        height: 14rem;
        justify-content: space-around;
        text-align: center;
        background-color: #9fb6d8;
        margin: 1rem 0;
        
    }
    .adventure_grid_title {
        grid-column: 2/5;
        justify-self: center;
        align-self: center;
    }
    .adventure_grid_img1{
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    
    .adventure_grid_img2{
        grid-column: 2;
        grid-row: 2;
        width: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    
    .adventure_grid_img3{
        grid-column: 5;
        grid-row: 2;
        width: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    .adventure_grid_img4{
        grid-column: 4;
        grid-row: 2;
        width: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    .adventure_grid_img5{
        grid-column: 3;
        grid-row: 2;
        width: 90%;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
    
    h1 {
    position: absolute;
    top: 1rem; left: 3.7em;
    letter-spacing : 1px;
    color: #7A0D3F;
    width: 30em;
    background-color: rgba(167, 165, 165, 0.5);
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    }

    h2 {
    letter-spacing : 2px;
    color : #7A0D3F;
    font-family : "Alegreya Sans", sans-serif;
    font-weight : 700;
    font-style : italic;
    }
    .purpose {
    color : #f5f5f7;
    text-shadow : none;
    }
    p {
    color : #27043b;
    font-family : "Roboto", system-ui;
    font-weight : 400;
    font-style : normal;
    }
    footer{
        width: 75rem;
        height: 5rem;
        background-color: rgba(139, 137, 137, 0.502);
        border: none;
        display: grid;
        grid-template-columns: 30% 30% 45%;
    }
    .copyright{
        grid-column: 2;
        align-self: center;
    }
    .social_links_nav{
        align-self: center;
        grid-column: 3;
    }
    .social_links{
        border: none;
    }

    /*Contact Us Page*/

    .control{
        display: grid;
        grid-template: 50% 50% 50%/ 1fr 1fr;
    }
    
    .second_section{
        margin-left: 40%;
        margin-bottom: 40%;
        width: 100%;
    }

    .do_for_you{
        margin-top: 70%;
        width: 120%;
    }

    .questions{
        margin-top: 25%;
        margin-left: 10%;
        width: 100%;
    }

    .radio{
        padding: 20px;
    }

    #general_questions{
        margin: 10px;
    }

    #what_we_can_do_better{
        margin: 10px;
    }

    #needed_user_information{
        margin: 10px;
    }

    input, select, textarea, button, .radio{
        padding: 0.5rem;
        font-size: 1rem;
    }  

    select{
        margin-left: 5%;
        padding: 1%;
    }

    .form_item2{
        padding: 15px;
    }

    .form_item{
        margin-left: 50%;
        padding: 15px;
    }

    input{
        padding: 4px;
    }

    .contact_info{
        display: grid;
        grid-template-columns: 100% 40%;
        grid-template-rows: 40% 30% 30% 40% 30%;
        position: absolute;
        top: 100%;
    }

    .contact_info h2{
        grid-column: 1;
    }

    .contact_info_item2{
        grid-column: 1;
        grid-row: 2;
    }

    .contact_info_item3{
        grid-column: 1/3;
        grid-row: 3;
    }

    .contact_info p{
        grid-column: 1;
    }
    
    .meet_us_grid{
        position: absolute;
        top: 130%;
        grid-template-rows: 20%;
        grid-template-columns: 20% 40% 20%;
        width: 800px;
        background-color: white;
    }

    .meet_us_title{
        width: 100%;
        grid-column: 2;
        justify-self: center;
        margin-bottom: 20%;
    }

    .meet_us_img2{
        width: 70%;
    }

    .meet_us_img3{
        grid-column: 3;
    }

    .map{
        display: inline-block;
        margin: 15% 30% 0 10%;
        border: 0;
    }

    #contact{
    background-color: white;
    margin: 12% 12% 12% 14%;
    }